<% sender = message.user == current_user %>

<div class="message <%= 'sender' if sender %>">
  <div class="message-content">
    <%= link_to profil_path(message.user) do%>
      <%= image_tag cl_image_path(message.user.photos.first.key), alt: "#{message.user.full_name}'s avatar", class: 'message-avatar' %>
    <% end %>
    <p><%= message.content %></p>
  </div>
  <div class="message-infos">
    <p><span><%= sender ? 'You' : message.user.full_name %></span> at <%= message.created_at.strftime("%H:%M") %></p>
  </div>
</div>
