<h1>Discover your potential matches!</h1>

<div class="card-container my-5">
  <div class="cards">
    <% users.each do |user| %>
      <% unless user == current_user%>
        <div class="card">
          <div class="card-img-top" style="background-image:url(<%= cl_image_path user.photos.first.key, crop: :fill, gravity: :face %>)">

          </div>
          <div class="card-body">
            <%= link_to profil_path(user) do%>
              <p class="card-text"><%= user.first_name %> <%= user.last_name %> <%= user.last_name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
