<div class="h-100 overflowy">
  <div class="description">
  <h1>Discover your potential matches!</h1>
  </div>
  <div class="card-container">
    <div class="cards">
      <%# User.near([current_user.latitude, current_user.longitude], current_user.preference.max_distance).to_a.select { |u| u unless u == current_user }.each do |user|%>
      <% @users.each do |user| %>
        <% unless user == current_user%>
          <div class="card">
            <div class="card-img-top" style="background-image:url(<%= cl_image_path user.photos.first.key, crop: :fill, gravity: :face %>)">
            </div>
            <div class="card-body">
                <%= link_to profil_path(user) do%>
                <h5><%= user.first_name %> <%= user.last_name %> - <%= user.age %></h5>
                <% end %>
            </div>
            <div class="card-match">
              <div><img src="https://res.cloudinary.com/ddat564z1/image/upload/v1662026664/nope_yvmylc.png" alt=""></div>
              <div><img src="https://res.cloudinary.com/ddat564z1/image/upload/v1662026664/yaas_b8drcv.png" alt=""></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
