<div class="p-5 m-5">
    <h1>Hello, I'm <%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%>!</h1>
    <div class="row">
      <div class="col-7 me-2">
        <h3><%= @user.birthdate %> ans, <%=@user.localisation%></h3>
        <%=cl_image_tag @user.photos.first.key, height: 300, width: 300, crop: :fill, gravity: :face%>
        <h3 class="my-3">Description<h3>
        <p class="fs-6"><%=@user.description%></p>
                <h3 class="my-3">Music Tastes<h3>
        <p class="fs-6"><%=@user.music_tastes%></p>
      </div>
      <div class="ms-2 col-4">
        <h2>Photos</h2>
        <div class="d-inline-flex flex-wrap mb-1">
        <% counter = true%>
        <%@user.photos.each do |photo|%>
          <% if counter %>
            <% counter = false%>
          <%else%>
            <%=cl_image_tag photo.key, height: 120, width: 120, crop: :fill, gravity: :face, class:'m-1'%>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
