<div class="boite">
<div class="description">
  <h1 class="my-name">Hello, I'm <%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%> and I'm <%=@user.age%> years old!</h1>
    <h5 class="my-city">I live in Paris</h5>
</div>

  <div id="carouselExampleControls" class="carousel slide mb-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @user.photos.first.key, height: 300, gravity: :face, class: 'img-caroussel' %>
      </div>
        <%@user.photos.drop(1).each do |photo|%>
      <div class="carousel-item">
        <%=cl_image_tag photo.key, height: 300, gravity: :face, class: 'img-caroussel' %>
      </div>
        <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  <div class="description">

    <h3 class="my-3">Who am I?<h3>
      <p class="fs-6"><%=@user.description%></p>
    <h3 class="my-3">Music Tastes<h3>
      <p class="fs-6"><%=@user.music_tastes%></p>
    </div>






    <% unless action_name == "profil" && @user == current_user %>
<%#     <div class="tinder--buttons">
        <button id="nope" data-swipe-target="nopeBtn">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <button id="love" data-swipe-target="likeBtn">
          <i class="fa fa-heart"></i>
        </button>
      </div>
 %>
        <div class="tinder--buttons pt-1 mb-3">
          <%= link_to(match_reject_path(@user.id), method: :post) do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
          <%= link_to(match_accept_path(@user.id), method: :post) do %>
            <i class="fa fa-heart"></i>
          <% end %>
        </div>
    <% end %>

    </div>
  </div>
</div>
