<div class="mx-auto" style="width: 80%;">
  <h1 class="fs-2 my-2">Edit my match preference</h1>

  <%= simple_form_for([@user, @preference]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :max_age, label: "Max Age", as: :integer%>
      <%= f.input :min_age, label: "Min Age", as: :integer%>
      <%= f.input :max_distance, label: "Distance (km)", as: :integer%>
      <%= f.input :gender, collection: ["M","F","Other"], as: :check_boxes%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save", class:"btn border-success my-3" %>
    </div>
  <% end %>
</div>
