<!DOCTYPE html>
<html>
  <head>
    <title>Lovebuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="geocode">
    <%= render "shared/navbar" if action_name == "show" && controller_name == "matches" %>
    <div class="<%= action_name == "show" && controller_name == "matches" ? "custom-wrapper-for-chat" : "custom-wrapper" %>" >
    <%= render "shared/navbar" unless action_name == "show" && controller_name == "matches" %>
      <%= yield %>
    </div>

    <% unless action_name == "show" && controller_name == "matches" %>
      <%= render "shared/footer" %>
    <% end %>

    <%= render "shared/flashes" %>

  </body>
<%#   <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css"> %>
</html>
