<!DOCTYPE html>
<html>
  <head>
    <title>Lovebuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag %>
  </head>
    <body data-controller="geocode" style="<%= 'overflow:hidden' if @hide_overflow%>">
      <%= render "shared/navbar" unless (action_name == "connexion" && controller_name == "pages")%>
      <% unless (action_name == "connexion" && controller_name == "pages") %>
        <div class="official-bg">
      <% end %>
        <div class="<%= action_name == "show" && controller_name == "matches" ? "custom-wrapper-for-chat" : "custom-wrapper-for-all" %>" >
          <%= yield %>
        </div>

        <% unless (action_name == "show" && controller_name == "matches") || (action_name == "connexion" && controller_name == "pages")%>
          <%= render "shared/footer" %>
        <% end %>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <%= render "shared/flashes" %>
            <% unless (action_name == "connexion" && controller_name == "pages") %>
        </div>
      <% end %>

  </body>
</html>
