<!DOCTYPE html>
<html>
  <head>
    <title>Lovebuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
    <% if current_page?(controller: 'pages', action: 'home') %>
    <body data-controller="geocode" style="overflow:hidden">
    <% else %>
    <body data-controller="geocode">
    <% end %>
      <%= render "shared/navbar" unless (action_name == "connexion" && controller_name == "pages")%>
  <div class="official-bg">
      <div class="<%= action_name == "show" && controller_name == "matches" ? "custom-wrapper-for-chat" : "custom-wrapper-for-all" %>" >
        <%= yield %>
      </div>

      <% unless (action_name == "show" && controller_name == "matches") || (action_name == "connexion" && controller_name == "pages")%>
        <%= render "shared/footer" %>
      <% end %>

      <%= render "shared/flashes" %>

  </div>
    </body>
  <%#   <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css"> %>
</html>
