<!DOCTYPE html>
<html>
  <head>

    <title>Lovebuzz | Be the next power couple</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%# google %>
    <meta name="description" content="With 0 match to date, LoveBuzz is the world's worst dating app, but you can meet your Kurt Cobain or your Beyonce">

    <%# facebook %>
    <meta property="og:title" content="LoveBuzz | Be the next power couple">
    <meta property="og:image" content="https://res.cloudinary.com/ddat564z1/image/upload/v1662540674/facebook_j7lyuy.png">
    <meta property="og:description" content="With 0 match to date, LoveBuzz is the world's worst dating app, but you can meet your Kurt Cobain or your Beyonce">
    <meta property="og:site_name" content="LoveBuzz"/>

    <%# twitter %>
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="@LoveBuzz">
    <meta name="twitter:title" content="LoveBuzz | Be the next power couple">
    <meta name="twitter:description" content="With 0 match to date, LoveBuzz is the world's worst dating app, but you can meet your Kurt Cobain or your Beyonce">
    <meta name="twitter:creator" content="@LoveBuzz">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/ddat564z1/image/upload/v1662540674/facebook_j7lyuy.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag %>
  </head>
    <body data-controller="geocode" style="<%= 'overflow:hidden' if @hide_overflow%>">
      <script src="https://sdk.scdn.co/spotify-player.js" data-turbo-track="reload" defer="true" ></script>

      <%= render "shared/navbar" unless (action_name == "connexion" && controller_name == "pages")%>
      <% unless (action_name == "connexion" && controller_name == "pages") %>
        <div class="official-bg">
      <% end %>
        <div class="<%= action_name == "show" && controller_name == "matches" ? "custom-wrapper-for-chat" : "custom-wrapper-for-all" %>" >
          <%= yield %>
        </div>

        <% unless (action_name == "show" && controller_name == "matches") || (action_name == "connexion" && controller_name == "pages")%>
          <%= render "shared/footer" %>
        <% end %>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <%= render "shared/flashes" %>
            <% unless (action_name == "connexion" && controller_name == "pages") %>
        </div>
      <% end %>

  </body>
</html>
